<html>
    <head>
            <title>RB's Poker</title>
            <script src="js/scripts.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>